// src/style/_config.scss

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&family=Source+Sans+Pro&display=swap");

$background-dark: #161925;
$primary: #f39a9d;
$secondary: #ffeaec;
$third: #7ea2aa;
$light: #e9edf3;
$text-color: #333;

$heading: "Roboto Mono", sans-serif;
$text: "Source Sans Pro", sans-serif;

$vertical-space: 0.5rem;
