.about-section {
  display: flex;
  justify-content: center;
  align-items: center;

  .profilepic {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    background-image: url("../assets/profilepic.jpeg");
    background-size: cover;
    background-position: center;
  }

  .about-title {
    position: relative;
    bottom: 50px;
  }

  .about-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 2px black;
    padding: 20px;
    box-shadow: 5px 5px 2px black;
    margin: 30px;
  }

  h5 {
    font-family: "Roboto Mono", sans-serif;
  }
}
