@import "./config";
@import "./_include-media.scss";

.about-section {
  .profilepic {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    background-image: url("../assets/profilepic.jpeg");
    background-size: cover;
    background-position: center;
  }

  .about-title {
    position: relative;
    bottom: 50px;

    @include media("<=phone") {
      font-size: 1rem;
    }
  }

  .about-card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border: solid 2px black;
    padding: 10px;
    box-shadow: 5px 5px 2px black;
    margin: 25px auto;
    width: 500px;
    z-index: 1;

    @include media("<=phone") {
      width: 300px;
    }

    h5 {
      font-family: "Roboto Mono", sans-serif;
      margin: 0;
    }

    .tooltip {
      font-weight: 700;
      font-family: "Roboto Mono";

      cursor: url("../assets/metBenz.jpg"), auto;
    }
  }
}
