@import "./config";

.section {
  height: 100vh;
  font-family: $text;
}

h1 {
  margin: 0;
  font-family: $heading;
  text-transform: uppercase;
}

.about {
  background-color: #161925;
  color: #f39a9d;
}
